#To run, the following need to be downloaded
#for reference: pip install fastapi uvicorn sqlalchemy python-dotenv requests pydantic-settings

fastapi
uvicorn
sqlalchemy
python-dotenv
requests
pydantic-settings
